body{
    font-family: 'Raleway', sans-serif;
}

nav{
  background-color: #9051b394;

}

.nav-link{
    color:black;
}
.nav-link:hover, .btn:hover {
    color: #7251B5;
}


main{
    padding: 4%;
}
section{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 12%;
    scroll-margin-top: 150px;
}

.home{
    scroll-margin-top: 300px;

}

.meio{
    margin: auto;
}


.cima{
    margin-bottom: 10%;
}


.menor{
    margin-left: 18%;
    margin-right: 18%;
}

.menor2{
    margin-left: 25%;
    margin-right: 25%;
}


.nome{
    float: right ;
}
h1{
    text-align: center;
    margin-bottom: 3%;
}

h2{
    margin-bottom: 2%;
}
h5{
    font-size: 2rem;
}

.sombra{
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);

}

p{
    font-size: 1.2rem;
    text-align: justify;
}

.carletra{
    text-align: center;
    font-size: 1.8rem;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}


.card-text{
    font-weight: normal;
}

.progress{
    height: 1rem;
    background-color: rgba(128, 128, 128, 0.219);
    margin-bottom: 2%;
}

.roxocla{
    background-color: #B185DB;
}

.roxoes{
    background-color: #6247AA;
}


.cor1{
    background-color: #3D0E40;
    color: rgba(255, 255, 255, 0.74);
}

.cor2{
    background-color: #d2b7e5cc;
}


.texto{
    color: rgba(255, 255, 255, 0.74);

}

.text-body-secondary .texto{
    font-size: 0.9rem;
}

.list-group-item{
    border-color: black;
}

.colalt{
    margin: auto;
    margin-top: 2%;
}
.card{
    border-color: #D2B7E5;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

}
.bcor{
    background-color: #A06CD5;
}
  
.card:hover {
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.7); 
  }

.table {
    border: 0.5px solid rgba(0, 0, 0, 0.13); 
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

td, th{
    font-size: 2rem;
}

.imgtable{
    width: 20%;
    margin-right: 5%;
}

@media (max-width: 550px) {
    th, td {
        display: block; 
        width: 100%; 
        box-sizing: border-box;
        font-size: 1rem;
    }
    tr {
        display: block;
        margin-bottom: 10px; 
    }
}

@media (max-width: 390px) {
    td, th{
        font-size: 1rem;
    }

    }

.rodape{
    text-align: center;
    margin: 1%;
    color: black;
}

.imgrodape{
    width: 2%;
    margin-left: 0.5%;
}
footer{
    background-color: #9151b3f5;
    position: fixed;
    padding: 1%;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}